
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
    	width: 1170px;
	}
}

@media (max-width: 768px) {
	.container {
		width: 750px;
	}

	header {
		height: 215px;
	}

	section {
		width: 100vw;
	}

	nav a#alter-menu {
		display: block;
		float: right;
		margin-top: 25px;
	}

	nav ul {
		list-style: none;
    margin: 90px auto 0;
    position: absolute;
    left: 20px;
	}

	nav ul li {
		float: none;
		line-height: 30px;
		padding-left: 10px;
	}

	nav ul li a.active:before {
		color: #f42853;
		content: '\f005';
		font-family: FontAwesome;
		font-size: 14px;
	  font-style: normal;
	  font-weight: normal;
	  position: relative;
	  left: 10px;
	  text-decoration: inherit;
	  top: 0;
	}

	nav ul.hide {
		display: none;
	}

	nav ul.hide li {
		display: none;
	}

	nav ul.show {
		display: block;
	}

	nav ul.show li {
		display: block;
	}

	section#home {
		margin-top: 216px;
	}

	section#home img#desktopImage {
		display: none;
	}

	section#home img#mobileImage {
		margin: 30px 0 0;
		min-height: 440px;
		display: block;
	}

	#event-summary {
		left: 25%;
		text-align: center;
	}

	.container .dummy-chat {
		display: none;
	}

	.container .map {
		display: none;
	}
}
